/*sorsolás*/ 
.divTable{
	display: table;
  	font-size: 14px;
  	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
}
.divTableBody {
	display: table-row-group;
}
